.image {
  position: relative;
  overflow: hidden;
  max-width: fit-content;
  opacity: 0;
  background: #212121;
  transform: translateY(10px);
  transition: .3s cubic-bezier(.215, .61, .355, 1);
  img {
    transition: .5s cubic-bezier(.215, .61, .355, 1);
    transform: scale(1.3);
    transform-origin: center;
  }
}