.horizontal {
  overflow: hidden;
  display: flex;
}

.scrolled {
  position: relative;
  top: 10px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list {
  height: 100%;
  display: flex;
}


@media screen and (max-width: 992px) {
  .scrolled {
    top: 0px;
    height: 100%;
  }
  .list {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .horizontal {
    height: auto !important;
  }
}