.contact {
  padding: 150px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  text-align: left !important;
  margin-left: 0 !important;
}

.arrow {
  width: 80px;
  height: 80px;
  img {
    transform: rotate(-150deg) scale(.7);
  }
}

.info {
  .link {
    display: block;
    font-size: 34px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 50px;
    }
  }
}

.form {
  max-width: 560px;
  width: 100%;
  .line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & > * {
      width: 48%;
    }
  }
  .button {
    margin-bottom: 30px;
  }
  .text {
    font-size: 14px;
    color: $grey;
    a {
      text-decoration: underline;
    }
  }
}




@media screen and (max-width: 1200px) {
  .info {
    .link {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 992px) {
  .title {
    margin-bottom: 40px !important;
  }
  .container {
    flex-direction: column;
  }
  .info {
    padding-bottom: 80px;
  }
  .arrow {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .form {
    .line {
      flex-direction: column;
      & > * {
        width: 100%;
      }
    }
    .input {
      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .form .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .info .link {
    font-size: 24px;
  }
}

