@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  line-height: 1.2em;
  font-family: 'Manrope', sans-serif;
  color: $white;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background: transparent;
  color: $accent;
}

*::-moz-selection {
  background: transparent;
  color: $accent;
}

img::selection {
  background: #fff;
}

img::-moz-selection {
  background: #fff;
}

body, html {
  background: $bg;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

a, label, input, textarea, button, body {
  cursor: none;
}

h1, h2, h3, p, p > div {
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5em;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

input, textarea {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  max-width: 100%;
  width: 100%;
}

textarea {
  min-height: 40px;
  max-height: 110px;
  min-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.c-scrollbar_thumb {
  background: #fff;
  z-index: 999;
}

.grain {
  position: absolute;
  width: 100%;
  height: 100%;
}

.preloader {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  background: $bg;
  transform-origin: top;
  p {
    font-size: 40px;
    color: #fff;
    z-index: 2;
  }
  &-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: conic-gradient(from 226.07deg at 50% 50%, $accent 0deg, rgba($accent, 0) 360deg);
    z-index: 1;
    animation: spin 6s ease-in-out infinite;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); 
      width: 110%;
      height: 110%;
      border-radius: 50%;
      background: radial-gradient(40% 40% at 50% 50%, rgba($bg, 0) 0%, $bg 100%)
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}