.cursor {
  position: absolute;
  z-index: 1000;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: 
    width .2s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &.click {
    width: 30px;
    height: 30px;
    opacity: .9;
  }
  &.hide-inner {
    .cursorInner {
      transform: scale(0);
    }
  }
}

.cursorInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:after {
    content: '';
    font-size: 18px;
    color: #fff;
    transform: scale(0);
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: .1s;
  }
}

.hoverLink {
  width: 10px;
  height: 10px;
  .cursorInner {
    height: 100px;
    width: 100px;
    transform: translate(-45px, -45px);
  }
}

.hoverWork {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(rgb(8, 8, 8), .5);
  mix-blend-mode: normal;
  .cursorInner {
    border: none;
    &:after {
      content: 'Подробнее';
      transform: scale(1);
    }
  }
}

.hoverInput {
  width: 2px;
  &.click {
    width: 3px;
  }
}